.exon .special_rect_tooltip {
    visibility: hidden;
}

.exon:hover .special_rect_tooltip {
    visibility: visible;
}

rect:hover{
    opacity: 0.7
}

.special_rect_tooltip text {
    fill: yellow;
    font-size: 16px;
    font-family: sans-serif;
}

.special_rect_tooltip:hover rect{
    opacity: 1.0
}

.transcript_id_rect .special_rect_tooltip{
    visibility: hidden;
}

.transcript_id_rect:hover .special_rect_tooltip {
    visibility: visible;
}

.exon_group:hover rect{
    opacity: 1.0;
}

.match_status_group .special_rect_tooltip{
    visibility: hidden;
}

.match_status_group:hover .special_rect_tooltip {
    visibility: visible;
}

line{
    opacity:0.5;
}

line:hover{
    opacity:1.0;
}

path:hover{
    opacity:1.0;
}

path {
  fill: none;
  stroke-width: 1.5px;
}
