{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %} 
{% block title %}File Upload{% endblock title %} 
{% block content %} 
<div class = "container"> 
{{ wtf.quick_form(form,action=url_for('api_gtf_upload'),method="post") }} 
</div> 
{{ super() }} 
{% endblock content %} 
{% block scripts %}
    <script>
        function fileUploadCallback(){
            var file = document.getElementById("gtfUpload").files[0];
            var fileSize = file.size;
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function(e){ readCallback(e);}
        }

        function readCallback(e){
            var result = e.target.result;
            // TODO
            // extract transcripts ids and names

        }
    </script>
{% endblock %}
