{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% block title %}File Upload{% endblock title %}
{% block content %}
<div class = "container">
    <div class="row">
    {{ wtf.quick_form(form,action=url_for('api_gtf_upload'),method="post") }}
    </div>
    <br>
    <div id="loadDiv" style="visibility:hidden;" class="row">
        <img src="{{ url_for('static', filename='ajax-loader.gif') }}">
    </div>
    <div id="onlyWhenOverLimit" style="visibility:hidden;">
        <div class="row">
            <input type="text" id="geneInput" oninput="geneSearchCallback();" list="genesOptions">
            <datalist id="genesOptions"> </datalist>
        </div>
        <div class="row">
                gene symbols:
                <select id="geneSelect" onchange="chooseGeneCallback();"> </select>
                <button class="btn-primary" id="addButton" onclick="chooseClicked();">Choose</button>
            </div>
        </div>
        <div class="row">
            <div id="selectedGenes">
            </div>
        </div>
    </div>
    {{ utils.flashed_messages() }}
</div>

{{ super() }}
{% endblock content %}
{% block scripts %}
    <script>
        var transcriptsInformation = {};
        var transcriptsByGene = {};
        var genesNames = [];

        function fileUploadCallback(){
            showLoad();
            var file = document.getElementById("gtfUpload").files[0];
            var name = file.name;
            var fileSize = file.size;
            if (fileSize > 10000000){
                alert("file " + name+ " Is over the size limit (10mb), please choose genes to parse");
                document.getElementById('onlyWhenOverLimit').style.visibility = 'visible';
            }
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function(e){ readCallback(e);};
        }

        function readCallback(e){
            var result = e.target.result;
            var lines = result.split('\n');
            for (var i = 0; i < lines.length; i++){
                var line = lines[i];
                var splitLine = line.split('\t');
                if (splitLine[2] == 'transcript'){
                    // get the transcript id and gene name
                    var transcriptParams = splitLine[8].split(' ');
                    var data = {};
                    var geneIndex = transcriptParams.indexOf("gene_id");
                    var geneValue = transcriptParams[geneIndex+1];
                    if (geneValue){
                        data['gene_id'] = geneValue.replace(/[\";]/g,'');
                    }
                    var t_index = transcriptParams.indexOf('transcript_id');
                    var t_value = transcriptParams[t_index+1];
                    if (t_value){
                        data['transcript_id'] = t_value.replace(/[\";]/g,'');
                    }
                    var fpkm_index = transcriptParams.indexOf('FPKM');
                    var fpkm_value = transcriptParams[fpkm_index+1];
                    if (fpkm_value){
                        fpkm_value = parseFloat(fpkm_value.replace(/[\";]/g,''));
                        data['fpkm'] = fpkm_value;
                    } else{
                        data['fpkm'] = 0;
                    }
                    if (! Array.isArray(transcriptsByGene[data['gene_id']])){
                        transcriptsByGene[data['gene_id']] = [];
                    }
                    transcriptsByGene[data['gene_id']].push(data['transcript_id']);
                    transcriptsInformation[data['transcript_id']] = data;
                }

            }
            
            genesNames = Object.keys(transcriptsByGene);
            search('', true);
            hideLoad();
        }

        function geneSearchCallback(){
            var searchString = document.getElementById("geneInput").value;
            search(searchString);
        }

        function search(searchString, allowAll=false){ 
            var matcher = new FuzzyMatch(searchString);
            var counter = 0;
            var maxSearches = 500;
            var options = [];
            for (var i=0; i < genesNames.length; i++){
                if (counter > maxSearches){
                    break;
                }
                if (matcher.match(genesNames[i]) || allowAll){
                    options.push(genesNames[i]);
                    counter++; 
                }
            }
            clearAndFillOptions('geneSelect', options);
            clearAndFillOptions('genesOptions', options);
            chooseGeneCallback();
        }

        function chooseGeneCallback(){
            var geneName = document.getElementById("geneSelect").value;
            if (!geneName){
                clearAndFillOptions('transcriptsSelect',[]);
                return;
            }
            var transcripts = transcriptsByGene[geneName]; 
            var transcriptsData=[];
            var orderedTranscripts = [];
            for (var i = 0; i< transcripts.length; i++){
                var data = {
                    "transcript":transcripts[i],
                    "fpkm": transcriptsInformation[transcripts[i]]['fpkm']
                };
                transcriptsData.push(data);
            }
            transcriptsData.sort(function(t1,t2){
                return t2['fpkm'] - t1['fpkm'];
            });
        }

        function clearAndFillOptions(select_id, options, use_keys=false){
            var selectElement = document.getElementById(select_id);
            if (!selectElement){
                console.error(select_id);
            }
            for (var i = selectElement.children.length - 1; i>=0; i--){
                selectElement.removeChild(selectElement.children[i]);
            }
            for (var i=0; i<options.length; i++){
                var option = document.createElement("option");
                if (use_keys){
                    option.text = options[i]['transcript']; //+ ' ' + options[i]['fpkm'];
                    option.value = options[i]['transcript'];
                } else{
                    option.text = options[i];
                    option.value = options[i];
                }
                selectElement.appendChild(option);
            }

        }

        function showLoad(){
            var div = document.getElementById("loadDiv");
            div.style.visibility = "visible";
            console.log('start loading');
        }

        function hideLoad(){
            var div = document.getElementById("loadDiv");
            div.style.visibility = "hidden";
            console.log('done loading');
        }

        function chooseClicked(){
            var value = document.getElementById('geneSelect').value;
            document.getElementById('gene_field').value += value+',';
        }

        class FuzzyMatch{
            constructor(searchString){
                this.pattern = new RegExp('('+searchString.split('').join(').*?(')+').*?','i');
            }

            match(someString){
                return someString.match(this.pattern) != null;
            }
        }

    </script>
{% endblock %}
